{% extends 'base.html' %}


{% block title %}

Prediction Page

{% endblock %}

{% block content %}

<!-- Place Your Content Here -->

<div class="row" style="margin-bottom: 477px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% if pred == 1 %}
        <div class="card card-body alert alert-danger">
            <center>
                <h2>Sorry! You have been Diagnosed with Risk</h2>
                <p>The algorithm has diagnosed you with Risk based on your inputs. Please consult a Doctor.</p>
            </center>
        </div>
        {% else %}
        <div class="card card-body alert alert-success">
            <center>
                <h2>Great! You are HEALTHY </h2>
		<p>The algorithm has diagnosed you with no Risk based on your inputs. However it might be better to talk to a doctor regardless.</p>
            </center>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><a href="{{ url_for('home_page') }}" class="btn btn-primary btn-block">Back to Home</a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
